/* Base styles for all screen sizes */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-image: url(img/wallpaper-greentint.png);
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  font-family: 'Sometype Mono', 'Merriweather', 'Montserrat', 'Sacramento', serif, sans-serif, cursive, monospace;
}

#test-container {
  text-align: left;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  max-width: 600px;
}
#test-container h1 {
  text-align: left; /* Center text before button is pressed */
  font-family: 'Sometype Mono', 'Merriweather', 'Montserrat', 'Sacramento', serif, sans-serif, cursive, monospace;
}

.test-container-hr{
  display: block;
  margin: 20px auto 20px 0px;
  width: 50%;
  border: none;
  border-top: 1px solid #ccc;
}

h1 {
  font-family: 'Sometype Mono', 'Merriweather', 'Montserrat', 'Sacramento', serif, sans-serif, cursive, monospace;
}

/* Style for the buttons */
button {
  background-color: #A4BC92;
  color: #000;
  padding: 10px 20px;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-family: 'Sometype Mono', 'Merriweather', 'Montserrat', 'Sacramento', serif, sans-serif, cursive, monospace;
}

button:hover{
  box-shadow: 10px 10px 10px 0px rgba(38, 58, 41, 0.75);
  /* border: 1px solid #263A29; */
}

.name-input-style{
  text-align: left;
  display: block;
}

#user-name-display {
  text-align: left;
  margin-top: 20px; /* Add margin to create a gap */
  font-weight: bold;
}

#question-container {
  text-align: left;
  margin-top: 20px; /* Add margin to create a gap */
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: none;
  background-color: #fff;
}

#question-container img {
  max-height: 200px;
  max-width: 200px;
  transition: transform 0.2s; /* Add a smooth transition effect */
}

img:hover {
  transform: scale(1.5) translate(25%, 25%); /* Zoom in and translate to center */
}

/* Style for the divider and left-aligned text */
.question-result {
  text-align: left;
}

/* Style for the divider */
.question-result hr {
  margin: 10px 0;
  border: none;
  border-top: 1px solid #ccc;
 
}



/* Style for left-aligned headings */
.left-align {
  text-align: left;
}

.centered {
  text-align: center;
}

/* Style for answer options */
input[type="radio"] {
  margin-right: 5px;
}

/* Style for the score container */
#score-container {
  text-align: center;
  display: none;
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 80%; /* Adjust to your preference */
  max-width: 600px; /* Adjust to your preference */
}

/* Style for the "Begin Test" button */
#start-test-container {
  text-align: left;
}

#start-button {
  background-color: #A4BC92;
  color: #263A29;
  padding: 10px 20px;
  font-size: 16px;
  margin: 0px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

/* Custom style for correct and incorrect answers */
.correct-answer {
  color: #008000;
  font-weight: bold;
}

.incorrect-answer {
  color: #FF0000;
  font-weight: bold;
}

/* Style for the <h1> */
h1 {
  text-align: left;
  margin: 0;
}

@media (max-width: 768px) {
  body {
    align-items: flex-start; /* Adjust alignment for smaller screens */
  }

  #test-container, #score-container, #question-container {
    width: 90%; /* Adjust for smaller screens */
    margin: 5px auto;
  }

  #working-textarea {
    max-height: 150px;
  }
  #question-container img {
    max-height: 200px;
    max-width: 200px;
    transition: transform 0.2s; /* Add a smooth transition effect */
  }

}

/* Styles for even smaller screens (up to 480px) */

@media (max-width: 480px) {
  #test-container, #score-container, #question-container {
    width: 80%; /* Further adjust for very small screens */
  }

  #working-textarea {
    max-height: 100px; /* Further reduce max height */
  }
  #question-container img {
    max-height: 200px;
    max-width: 200px;
    transition: transform 0.2s; /* Add a smooth transition effect */
  }

}

@media (min-width: 480px) and (max-width: 850px) {
  #test-container, #score-container, #question-container {
    /* width: 80%; */
    height: 80%;
    max-height: 80%;


  flex-direction: column;
  justify-content: center;
  align-items: left;
  /* min-height: 50vh; */
  margin: 0 auto;
  /* background-image: url(img/wallpaper-greentint.png); */
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  }
  
  #working-textarea {
    max-height: 300px; /* Further reduce max height */
  }
  #question-container img {
    max-height: 200px;
    max-width: 200px;
    transition: transform 0.2s; /* Add a smooth transition effect */
  }

}



/* Add a CSS class for the collapsible content */
.collapsible-content {
  display: none;
}

/* Style for the button that toggles the collapsible content */
.collapsible-button {
  background-color: #A4BC92;
  color: #263A29;
  padding: 10px;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

#submit-answer-container {
  display: flex;
  align-items: center;
}

#submit-answer-button {
display: none; /* Initially hide the "Submit Answer" button */
}

#start-container {
  display: flex;
  align-items: center;
}

.validation-message {
  color: red;
  font-size: 14px;
  margin-left: 10px;
  display: none; /* Initially hide the validation message */
}

/* Style for the response textarea */
textarea {
width: 90%;
min-height: 150px;
padding: 5px;
border: 1px solid #ccc;
border-radius: 5px;
resize: vertical;

}

#working-textarea {
  width: 90%; /* Set the width to 90% of the container */
  height: 200px;
  overflow-y: auto; /* Add a vertical scrollbar if the content exceeds the maximum height */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical; /* Allow vertical resizing only */
  
}

#quiz-form-container {
  text-align: left;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 80%; /* Adjust to your preference */
  max-width: 600px; /* Adjust to your preference */
}

/* Styles for text input fields */
#quiz-form input[type="text"] {
  text-align: left;
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


/* Styles for textareas */
#quiz-form textarea {
  text-align: left; /* Add this rule to left-align the textareas in the form */
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #263A29;
  height: fit-content;
  resize: none;
}

.left-aligned-textarea {
  text-align: left;
}

/* Styles for the submit button */
#quiz-form input[type="submit"] {
  background-color: #A4BC92;
  color: #263A29;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Styles for labels */
#quiz-form label {
  text-align: left;
  display: block;
}

/* Style for the custom submission page */
.custom-submission-container {
  text-align: center;
  padding: 20px;
  background-color: #fff; /* Background color for the custom submission page */
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 80%; /* Adjust to your preference */
  max-width: 600px; /* Adjust to your preference */
  display: none; /* Initially hide the custom submission page */
}

/* Style for correct answers */
.correct-answer {
  background-color: #A4BC92; /* Light green */
}

/* Style for incorrect answers */
.incorrect-answer {
  background-color: #FF8080; /* Light red */
}